[core]
  pager = delta
  excludesfile = ~/.gitignore

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true
  default = simple
  followTags = true

[pull]
  ff = only

[alias]
  logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[merge]
  conflictStyle = zdiff3

[user]
  name = Brandon Catubig

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[help]
  autocorrect = prompt

[commit]
  verbose = true

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[include]
  path = ~/.gituser
